node_modules
.next
out
dist
.turbo
coverage
.env*
*.log
*.tsbuildinfo
# macOS
.DS_Store
# Editor directories and files
.idea/
.vscode/
node_modules/*
# Local Firebase configuration for testing
lib/firebase.local.ts
